@model IdentitySecuredApp.Models.LoginViewModel

@{ ViewData["Title"] = "Login"; }

<div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="https://static.vecteezy.com/system/resources/previews/002/710/265/original/profile-login-style-vector.jpg" class="img-fluid"
                 alt="Sample image">
        </div>

        <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-1">
            <div class="form-outline mb-4">
                <div class="card text-dark" class="w-75 gradient-custom" style="border-radius: 1rem; font-weight: bold ">
                    <h4>Customer Login</h4>
                    <hr />
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                            </label>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary">
                        </div>
                        <div>
                            <u><a asp-action="Register" asp-controller="Accounts" style="color:black"> Don't Have An Account? Register here</a></u>
                        </div>
                        <a asp-controller="Seller" asp-action="Login"> Seller Login </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

        @ViewBag.msg

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
